{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Add Tweeet by Form Page </h1>
<div class="container tweetform">
    <form action="" method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-control">
            {{field.label_tag}}
            {{field}}
        </div>
        {% endfor %}
        <!--<div class="mb-3">
            {{form.nickname_input.label_tag}}
            {{form.nickname_input}}
        </div>
        <div class="mb-3">
            {{form.message_input.label_tag}}
            {{form.message_input}}
        </div>-->
        <button type="submit" class="btn btn-primary">Send Tweet</button>
    </form>
</div>
{% endblock content %}